
h1, h2{
    color:rgb(189, 82, 43);
    font-family: 'Abril Fatface', cursive;
    background-color: #733636ab;
    padding-left: 20px;
    padding-right: 20px;
    border-left-style: solid;
    border-left-width: 20px;
    border-left-color: rgba(242, 103, 53, 0.85);
    text-shadow: #733636;
    display: inline;
}

h2{
    display: inline;
    background-color: #733636;
}

h1{
    font-size: 100px;
    border-left-width: 40px;
    background-color: #733636be;
}


body{
    background-image: url(https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2c1616;
    border-bottom-color:  #733636;
    border-bottom-style: solid;
    border-bottom-width: 80px;
    color:rgb(189, 82, 43);
    text-align: left;
    font-size: 20px; 
    
}

p{
    font-family: 'Roboto', sans-serif;
    width: 50%;
    background-color: #333;
    padding: 20px;
}

img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 15px;
}

/*Photo Tools------------*/


/*Right-Sticking Photos*/
.picRight{
    float:right;
    margin-left: 20px;
}

/**Photo Description Animation**/

.container{
    margin: 5px;
    margin-top: 20px;
    position: relative;
    width: 15%;
    display: inline-block;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #333;
    border-radius: 15px;
}

.container:hover .overlay{
    opacity: 0.95;
}
/*Animation Done, Below Is text*/
.text {
    color: rgb(169, 165, 157);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*Navbar Content----------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  /*rgba(242, 103, 53, 1)*/
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(160, 69, 36, 0.85);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: normal;
  }
  
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    background-color: #111;
    font-weight: bolder;
    color: rgba(253, 159, 125, 0.85);
  }

a a:hover:active {
    color: rgba(253, 159, 125, 0.85);
}

.active{
    background-color: rgb(150, 62, 30);
    color: rgba(253, 159, 125, 0.85);
}