nav {
	width: 15%;
	height: 100vh;
	position: fixed; /* sticks to the top */
	background-color: var(--minty-glass);
	backdrop-filter: blur(10px);
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 100%;
	height: 60%;
	display: flex; /* flex container */
	flex-direction: column;
	justify-content: center;
}

nav ul li {
	text-align: center; /* Center the text */
	margin-left: 0;
	position: relative; /* Needed for pseudo-element */
}

/* Horizontal lines between buttons */
nav ul li {
	box-sizing: border-box; /* Include the border in the element's total width and height */
}

nav ul li a {
	display: block; /* Make the a tag a block-level element */
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.2rem;
	padding: 20%; /* Move padding from li to a */
}

nav ul li {
	border-right: 5px solid transparent; /* Add a transparent border */
}

nav ul li:hover {
	background-color: rgba(0, 255, 145, 0.3);
	/* border-right-color: var(--off-white); */
}

nav ul li a:hover {
	color: var(--secondary-color);
}

nav ul li::before {
	bottom: 0; /* Position the line at the top */
	content: "";
	position: absolute;
	left: 10%; /* Center the line */
	width: 80%; /* Make the line take up 80% of the width */
	border-bottom: 1.5px solid var(--off-white); /* Draw a line */
}

#active-tab a {
	color: var(--tertiary-color);
}

#active-tab a:hover {
	color: var(--secondary-color);
}

#active-tab::after {
	content: "";
	position: absolute;
	left: 100%; /* Position it to the right of the li */
	top: 0;
	bottom: 0;
	width: 10px; /* Width of the tab */
	background-color: var(--off-white); /* Color of the tab */
}

/* Responsive */

@media screen and (min-width: 1024px) {
	nav {
		width: 12.5%;
	}

	nav ul li a {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1250px) {
	nav {
		width: 10%;
	}
}

/* Logos */

#business-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pyramid-block {
	width: 2.5vw;
	height: 2.5vw;
	margin: 10%;
}

#business-card .pyramid-bottom-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pyramid-block a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.pyramid-block img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
